api/**/__pycache__
api/image.jpg
train_model/dataset/circulos
train_model/dataset/cuadrados
train_model/dataset/hexagonos
train_model/dataset/pentagono
train_model/dataset/rectangulos
train_model/dataset/triangulos